// -------------------------------------
//   Partials: dropdown
//
//   # Path: (unauthenticated_root)
// -------------------------------------

.nav_zyxel {
  float: right;
  margin-top: 20px;
}

.locale-font {
  font-size: 16px;
  line-height: 30px;
}

@media (max-width: 320px)
{
  .locale-font {
  font-size: 12px;
  }
}

@media (min-width: 321px) and (max-width: 375px)
{
  .locale-font {
    font-size: 14px;
  }
}

@media (min-width: 376px) and (max-width: 425px)
{
  .locale-font {
    font-size: 16px;
  }
}

.dropdown {
  .dropdown-toggle {
    display: block;
    height: 30px;
    width: 156px;
    background-color: $btn-color-light;
    text-decoration: none;
    @include transition(background, 0.3s);

    // 讓內部的子元件平均分布
    display: flex;
    display: -webkit-flex; /*for safari*/
    flex-direction: row;
    -webkit-flex-direction: row;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    -webkit-flex-wrap: wrap;

    .language {
      color: #000;
      line-height: 30px;
      @include transition(background, 0.3s);
    }
  }

  .dropdown-menu {
    li a {
      color: #8c8c8c;
      font-weight: normal;
      font-size: 13px;
      line-height: 2em;
      &:hover, &:focus {
        color: #fff;
        text-decoration: none;
        background-color: $bg-color;
      }
    }
  }
}


.dropdown-toggle-hover {
  background-color: $bg-color !important;
  color: #fff !important;
  .language {
    color: #fff !important;
  }
  .language:nth-child(3) {
    transform: rotate(180deg);
  }
}
